In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from functools import reduce

**IMPORT SURVEY DATABASE

In [4]:
file_path = r"C:\Users\AaronH\Documents\nss_data_analytics\Projects\federal_employee_job_satisfaction\data\SurveyData.csv"

In [5]:
survey = pd.read_csv(file_path, header=None)

C:\Users\AaronH\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,3,4,5,6,7,8,10,11,12,14,15,16,17,18,19,20,21,30,31,34,35,44,49,53,54,55,56,57,58,59,71,72,73,74,75,76,91,92,93,94,95,96,97,98,99,101,115) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
survey_table = survey

In [7]:
survey_table

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,115
0,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DRNO,DHISP,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT
1,1.12971E+11,XX,4,4,4,4,2,4,4,4,...,B,B,B,B,B,B,A,A,A,2.238814299
2,1.94869E+11,XX,4,3,5,4,4,4,5,4,...,B,B,B,B,A,A,A,A,A,2.238814299
3,1.52966E+11,XX,5,5,5,5,2,5,5,2,...,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,1.502352285
4,1.93041E+11,XX,2,2,4,1,3,2,2,1,...,B,B,B,B,A,A,B,A,A,1.756431349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557774,1.9578e+11,ST,4,4,5,4,3,4,4,3,...,B,B,B,B,B,C,A,B,B,2.48538
557775,1.02163e+11,ST,4,4,4,4,2,3,3,4,...,B,B,B,B,B,C,A,B,D,1.67791
557776,1.64068e+11,ST,5,5,4,4,3,5,5,5,...,B,B,B,B,B,C,A,B,B,3.58316
557777,1.55255e+11,ST,5,5,5,5,4,5,5,5,...,B,B,B,B,B,C,B,B,A,2.73418
557778,1.94364e+11,ST,5,5,4,4,4,4,4,5,...,B,B,B,B,B,C,B,B,A,2.62447

In [8]:
survey_table.columns = survey_table.iloc[0]

In [9]:
survey_table = survey_table[1:]

In [10]:
survey_table

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DRNO,DHISP,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT
1,1.12971E+11,XX,4,4,4,4,2,4,4,4,...,B,B,B,B,B,B,A,A,A,2.238814299
2,1.94869E+11,XX,4,3,5,4,4,4,5,4,...,B,B,B,B,A,A,A,A,A,2.238814299
3,1.52966E+11,XX,5,5,5,5,2,5,5,2,...,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,1.502352285
4,1.93041E+11,XX,2,2,4,1,3,2,2,1,...,B,B,B,B,A,A,B,A,A,1.756431349
5,1.46656E+11,XX,4,4,4,4,4,2,4,2,...,B,B,B,A,B,A,B,B,A,1.756431349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557774,1.9578e+11,ST,4,4,5,4,3,4,4,3,...,B,B,B,B,B,C,A,B,B,2.48538
557775,1.02163e+11,ST,4,4,4,4,2,3,3,4,...,B,B,B,B,B,C,A,B,D,1.67791
557776,1.64068e+11,ST,5,5,4,4,3,5,5,5,...,B,B,B,B,B,C,A,B,B,3.58316
557777,1.55255e+11,ST,5,5,5,5,4,5,5,5,...,B,B,B,B,B,C,B,B,A,2.73418
557778,1.94364e+11,ST,5,5,4,4,4,4,4,5,...,B,B,B,B,B,C,B,B,A,2.62447

**REMAP AGENCY NAME

In [11]:
agency_map = {'AF': 'United States Department of the Air Force', 'AG': 'Department of Agriculture', 'AM':'U.S. Agency for International Development', 
             'AR':'United States Department of the Army','CM':'Department of Commerce','CU':'National Credit Union Administration','DD':'OSD, Joint Staff, Defense Agencies, and Field Activities',
             'DJ':'Department of Justice','DL':'Department of Labor','DN':'Department of Energy','DR':'Federal Energy Regulatory Commission',
             'ED':'Department of Education','EE':'Equal Employment Opportunity Commission','EP':'Environmental Protection Agency','FT':'Federal Trade Commission',
             'GS':'General Services Administration','HE':'Department of Health and Human Services','HS':'Department of Homeland Security',
             'HU':'Department of Housing and Urban Development','IN':'Department of the Interior','NF':'National Science Foundation','NQ':'National Archives and Records Administration',
             'NU':'Nuclear Regulatory Commission','NV':'United States Department of the Navy','OM':'Office of Personnel Management','SB':'Small Business Administration',
             'ST':'Department of State','SZ':'Social Security Administration','TD':'Department of Transportation','TR':'Department of the Treasury','XX':'All Other Agencies'}

In [12]:
survey_table['AGENCY'] = survey_table['agency'].map(agency_map)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
groupby_survey_table = survey_table.groupby('AGENCY').size().reset_index()

In [15]:
groupby_survey_table

                                               AGENCY      0
0                                  All Other Agencies   9703
1                           Department of Agriculture  43332
2                              Department of Commerce  21009
3                             Department of Education   2698
4                                Department of Energy   8587
5             Department of Health and Human Services  50317
6                     Department of Homeland Security  73070
7         Department of Housing and Urban Development   4866
8                               Department of Justice  25866
9                                 Department of Labor   7550
10                                Department of State   7962
11                       Department of Transportation  19989
12                         Department of the Interior  27014
13                         Department of the Treasury  35764
14                    Environmental Protection Agency   7757
15            Equal Employment Opportunity Commission   1102
16               Federal Energy Regulatory Commission   1079
17                           Federal Trade Commission    782
18                    General Services Administration   7498
19       National Archives and Records Administration   1407
20               National Credit Union Administration    904
21                        National Science Foundation   1049
22                      Nuclear Regulatory Commission   1889
23  OSD, Joint Staff, Defense Agencies, and Field ...  31888
24                     Office of Personnel Management   1516
25                      Small Business Administration   3524
26                     Social Security Administration  26528
27          U.S. Agency for International Development   1769
28          United States Department of the Air Force  31191
29               United States Department of the Army  60278
30               United States Department of the Navy  39890

**CREATE INDEX SCORE COLUMN LISTS

*My Work Experience

In [16]:
my_work_experience =['Q1', 'Q2', 'Q3', 'Q4','Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13']

In [17]:
survey_table[my_work_experience] = survey_table[my_work_experience].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [18]:
survey_table[my_work_experience] = survey_table[my_work_experience].apply(pd.to_numeric, errors='coerce')

In [19]:
survey_table['my_work_experience_index'] = survey_table[my_work_experience].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
survey_table

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DDIS,DAGEGRP,DSUPER,DFEDTEN,DSEX,DMIL,DLEAVING,POSTWT,AGENCY,my_work_experience_index
1,1.12971E+11,XX,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,...,B,B,B,B,A,A,A,2.238814299,All Other Agencies,3.846154
2,1.94869E+11,XX,4.0,3.0,5.0,4.0,4.0,4.0,5.0,4.0,...,B,B,A,A,A,A,A,2.238814299,All Other Agencies,3.923077
3,1.52966E+11,XX,5.0,5.0,5.0,5.0,2.0,5.0,5.0,2.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,1.502352285,All Other Agencies,4.076923
4,1.93041E+11,XX,2.0,2.0,4.0,1.0,3.0,2.0,2.0,1.0,...,B,B,A,A,B,A,A,1.756431349,All Other Agencies,2.615385
5,1.46656E+11,XX,4.0,4.0,4.0,4.0,4.0,2.0,4.0,2.0,...,B,A,B,A,B,B,A,1.756431349,All Other Agencies,3.538462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557774,1.9578e+11,ST,4.0,4.0,5.0,4.0,3.0,4.0,4.0,3.0,...,B,B,B,C,A,B,B,2.48538,Department of State,3.461538
557775,1.02163e+11,ST,4.0,4.0,4.0,4.0,2.0,3.0,3.0,4.0,...,B,B,B,C,A,B,D,1.67791,Department of State,3.384615
557776,1.64068e+11,ST,5.0,5.0,4.0,4.0,3.0,5.0,5.0,5.0,...,B,B,B,C,A,B,B,3.58316,Department of State,4.230769
557777,1.55255e+11,ST,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,...,B,B,B,C,B,B,A,2.73418,Department of State,4.461538
557778,1.94364e+11,ST,5.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,...,B,B,B,C,B,B,A,2.62447,Department of State,4.461538

In [241]:
my_work_experience_index_groupby = survey_table.groupby('AGENCY')['my_work_experience_index'].mean().reset_index()

**My Work Experience Index - Buckets

In [71]:
def work_experience_bucket(series):
    if series < 2.5:
        return 1
    elif 2.5 <= series < 3.5:
        return 2
    elif series >= 3.5:
        return 3

survey_table['my_work_experience_tier'] = survey_table['my_work_experience_index'].apply(work_experience_bucket)

survey_table['my_work_experience_tier'].value_counts(sort=False)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2.0    132551
3.0    389016
1.0     36182
Name: my_work_experience_tier, dtype: int64

In [72]:
survey_table

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,AGENCY,my_work_experience_index,my_work_unit_index,my_organization_index,supervisor_index,leadership_index,my_satisfaction_index,dei_index,employee_experience_index,my_work_experience_tier
1,1.12971E+11,XX,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,...,All Other Agencies,3.846154,3.722222,3.900000,3.900000,3.800000,4.000000,3.909091,4.0,3.0
2,1.94869E+11,XX,4.0,3.0,5.0,4.0,4.0,4.0,5.0,4.0,...,All Other Agencies,3.923077,3.850000,3.400000,4.800000,2.500000,3.833333,4.000000,4.8,3.0
3,1.52966E+11,XX,5.0,5.0,5.0,5.0,2.0,5.0,5.0,2.0,...,All Other Agencies,4.076923,4.111111,3.800000,4.300000,2.111111,4.000000,4.363636,5.0,3.0
4,1.93041E+11,XX,2.0,2.0,4.0,1.0,3.0,2.0,2.0,1.0,...,All Other Agencies,2.615385,3.200000,2.777778,3.142857,1.833333,1.000000,1.636364,3.6,2.0
5,1.46656E+11,XX,4.0,4.0,4.0,4.0,4.0,2.0,4.0,2.0,...,All Other Agencies,3.538462,4.400000,3.222222,4.500000,1.777778,2.833333,3.857143,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557774,1.9578e+11,ST,4.0,4.0,5.0,4.0,3.0,4.0,4.0,3.0,...,Department of State,3.461538,3.736842,3.100000,3.300000,2.400000,3.833333,2.928571,4.5,2.0
557775,1.02163e+11,ST,4.0,4.0,4.0,4.0,2.0,3.0,3.0,4.0,...,Department of State,3.384615,3.850000,3.600000,4.900000,3.600000,3.500000,4.545455,4.2,2.0
557776,1.64068e+11,ST,5.0,5.0,4.0,4.0,3.0,5.0,5.0,5.0,...,Department of State,4.230769,4.000000,4.300000,4.400000,4.200000,4.166667,3.800000,4.4,3.0
557777,1.55255e+11,ST,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,...,Department of State,4.461538,3.800000,4.400000,4.900000,3.800000,4.666667,3.909091,4.2,3.0
557778,1.94364e+11,ST,5.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,...,Department of State,4.461538,4.300000,5.000000,4.900000,4.700000,4.833333,5.000000,5.0,3.0

*My Work Unit

In [21]:
my_work_unit =['Q14', 'Q16', 'Q17', 'Q18','Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34']

In [22]:
survey_table[my_work_unit] = survey_table[my_work_unit].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [23]:
survey_table[my_work_unit] = survey_table[my_work_unit].apply(pd.to_numeric, errors='coerce')

In [24]:
survey_table['my_work_unit_index'] = survey_table[my_work_unit].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
my_work_unit_index_groupby = survey_table.groupby('AGENCY')['my_work_unit_index'].mean().reset_index()

In [26]:
my_work_unit_index_groupby

                                               AGENCY  my_work_unit_index
0                                  All Other Agencies            3.978457
1                           Department of Agriculture            3.778819
2                              Department of Commerce            3.864093
3                             Department of Education            3.979420
4                                Department of Energy            4.014278
5             Department of Health and Human Services            4.001743
6                     Department of Homeland Security            3.683334
7         Department of Housing and Urban Development            3.979773
8                               Department of Justice            3.724516
9                                 Department of Labor            3.926270
10                                Department of State            3.806312
11                       Department of Transportation            3.881084
12                         Department of the Interior            3.822702
13                         Department of the Treasury            3.872182
14                    Environmental Protection Agency            3.968511
15            Equal Employment Opportunity Commission            3.970833
16               Federal Energy Regulatory Commission            4.123263
17                           Federal Trade Commission            4.280365
18                    General Services Administration            4.125477
19       National Archives and Records Administration            3.945823
20               National Credit Union Administration            3.927092
21                        National Science Foundation            4.133403
22                      Nuclear Regulatory Commission            3.942918
23  OSD, Joint Staff, Defense Agencies, and Field ...            3.893626
24                     Office of Personnel Management            3.982903
25                      Small Business Administration            3.989014
26                     Social Security Administration            3.586911
27          U.S. Agency for International Development            3.847802
28          United States Department of the Air Force            3.805549
29               United States Department of the Army            3.816283
30               United States Department of the Navy            3.801448

**My Work Unit Index - Buckets

In [73]:
def work_unit_bucket(series):
    if series < 2.5:
        return 1
    elif 2.5 <= series < 3.5:
        return 2
    elif series >= 3.5:
        return 3

survey_table['my_work_unit_tier'] = survey_table['my_work_unit_index'].apply(work_unit_bucket)

survey_table['my_work_unit_tier'].value_counts(sort=False)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2.0    123197
3.0    407537
1.0     27003
Name: my_work_unit_tier, dtype: int64

In [74]:
survey_table

,RandomID,agency,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,my_work_experience_index,my_work_unit_index,my_organization_index,supervisor_index,leadership_index,my_satisfaction_index,dei_index,employee_experience_index,my_work_experience_tier,my_work_unit_tier
1,1.12971E+11,XX,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,...,3.846154,3.722222,3.900000,3.900000,3.800000,4.000000,3.909091,4.0,3.0,3.0
2,1.94869E+11,XX,4.0,3.0,5.0,4.0,4.0,4.0,5.0,4.0,...,3.923077,3.850000,3.400000,4.800000,2.500000,3.833333,4.000000,4.8,3.0,3.0
3,1.52966E+11,XX,5.0,5.0,5.0,5.0,2.0,5.0,5.0,2.0,...,4.076923,4.111111,3.800000,4.300000,2.111111,4.000000,4.363636,5.0,3.0,3.0
4,1.93041E+11,XX,2.0,2.0,4.0,1.0,3.0,2.0,2.0,1.0,...,2.615385,3.200000,2.777778,3.142857,1.833333,1.000000,1.636364,3.6,2.0,2.0
5,1.46656E+11,XX,4.0,4.0,4.0,4.0,4.0,2.0,4.0,2.0,...,3.538462,4.400000,3.222222,4.500000,1.777778,2.833333,3.857143,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557774,1.9578e+11,ST,4.0,4.0,5.0,4.0,3.0,4.0,4.0,3.0,...,3.461538,3.736842,3.100000,3.300000,2.400000,3.833333,2.928571,4.5,2.0,3.0
557775,1.02163e+11,ST,4.0,4.0,4.0,4.0,2.0,3.0,3.0,4.0,...,3.384615,3.850000,3.600000,4.900000,3.600000,3.500000,4.545455,4.2,2.0,3.0
557776,1.64068e+11,ST,5.0,5.0,4.0,4.0,3.0,5.0,5.0,5.0,...,4.230769,4.000000,4.300000,4.400000,4.200000,4.166667,3.800000,4.4,3.0,3.0
557777,1.55255e+11,ST,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,...,4.461538,3.800000,4.400000,4.900000,3.800000,4.666667,3.909091,4.2,3.0,3.0
557778,1.94364e+11,ST,5.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.461538,4.300000,5.000000,4.900000,4.700000,4.833333,5.000000,5.0,3.0,3.0

*My Organization

In [27]:
my_organization = ['Q35', 'Q36', 'Q37', 'Q38','Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44']

In [28]:
survey_table[my_organization] = survey_table[my_organization].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [29]:
survey_table[my_organization] = survey_table[my_organization].apply(pd.to_numeric, errors='coerce')

In [30]:
survey_table['my_organization_index'] = survey_table[my_organization].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
my_organization_index_groupby = survey_table.groupby('AGENCY')['my_organization_index'].mean().reset_index()

In [32]:
my_organization_index_groupby

                                               AGENCY  my_organization_index
0                                  All Other Agencies               3.788522
1                           Department of Agriculture               3.632230
2                              Department of Commerce               3.837819
3                             Department of Education               3.810235
4                                Department of Energy               3.928674
5             Department of Health and Human Services               3.957244
6                     Department of Homeland Security               3.548823
7         Department of Housing and Urban Development               3.756386
8                               Department of Justice               3.567589
9                                 Department of Labor               3.894003
10                                Department of State               3.643069
11                       Department of Transportation               3.812681
12                         Department of the Interior               3.658190
13                         Department of the Treasury               3.748335
14                    Environmental Protection Agency               3.859417
15            Equal Employment Opportunity Commission               3.796425
16               Federal Energy Regulatory Commission               4.118369
17                           Federal Trade Commission               3.880941
18                    General Services Administration               4.079927
19       National Archives and Records Administration               3.784100
20               National Credit Union Administration               3.882324
21                        National Science Foundation               4.127216
22                      Nuclear Regulatory Commission               3.748938
23  OSD, Joint Staff, Defense Agencies, and Field ...               3.863851
24                     Office of Personnel Management               3.870535
25                      Small Business Administration               3.925514
26                     Social Security Administration               3.583215
27          U.S. Agency for International Development               3.737568
28          United States Department of the Air Force               3.783249
29               United States Department of the Army               3.775462
30               United States Department of the Navy               3.739491

**My Organization Bucket

*My Supervisor

In [33]:
supervisor = ['Q45', 'Q46', 'Q47', 'Q48','Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54']

In [34]:
survey_table[supervisor] = survey_table[supervisor].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [35]:
survey_table[supervisor] = survey_table[supervisor].apply(pd.to_numeric, errors='coerce')

In [36]:
survey_table['supervisor_index'] = survey_table[supervisor].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
supervisor_index_groupby = survey_table.groupby('AGENCY')['supervisor_index'].mean().reset_index()

In [38]:
supervisor_index_groupby

                                               AGENCY  supervisor_index
0                                  All Other Agencies          4.254086
1                           Department of Agriculture          4.157109
2                              Department of Commerce          4.284745
3                             Department of Education          4.345552
4                                Department of Energy          4.332880
5             Department of Health and Human Services          4.301426
6                     Department of Homeland Security          4.057310
7         Department of Housing and Urban Development          4.307146
8                               Department of Justice          4.043215
9                                 Department of Labor          4.278426
10                                Department of State          4.073497
11                       Department of Transportation          4.226878
12                         Department of the Interior          4.139528
13                         Department of the Treasury          4.252293
14                    Environmental Protection Agency          4.304764
15            Equal Employment Opportunity Commission          4.324548
16               Federal Energy Regulatory Commission          4.503389
17                           Federal Trade Commission          4.511111
18                    General Services Administration          4.470225
19       National Archives and Records Administration          4.278540
20               National Credit Union Administration          4.338357
21                        National Science Foundation          4.386301
22                      Nuclear Regulatory Commission          4.313336
23  OSD, Joint Staff, Defense Agencies, and Field ...          4.229405
24                     Office of Personnel Management          4.335112
25                      Small Business Administration          4.281710
26                     Social Security Administration          4.021935
27          U.S. Agency for International Development          4.166331
28          United States Department of the Air Force          4.144635
29               United States Department of the Army          4.112495
30               United States Department of the Navy          4.113707

*Leadership

In [39]:
leadership = ['Q55', 'Q56', 'Q57', 'Q58','Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64']

In [40]:
survey_table[leadership] = survey_table[leadership].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [41]:
survey_table[leadership] = survey_table[leadership].apply(pd.to_numeric, errors='coerce')

In [42]:
survey_table['leadership_index'] = survey_table[leadership].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
leadership_index_groupby = survey_table.groupby('AGENCY')['leadership_index'].mean().reset_index()

In [44]:
leadership_index_groupby

                                               AGENCY  leadership_index
0                                  All Other Agencies          3.580170
1                           Department of Agriculture          3.402016
2                              Department of Commerce          3.568648
3                             Department of Education          3.632828
4                                Department of Energy          3.683964
5             Department of Health and Human Services          3.782065
6                     Department of Homeland Security          3.300381
7         Department of Housing and Urban Development          3.670732
8                               Department of Justice          3.305478
9                                 Department of Labor          3.666771
10                                Department of State          3.441223
11                       Department of Transportation          3.521783
12                         Department of the Interior          3.410887
13                         Department of the Treasury          3.580435
14                    Environmental Protection Agency          3.697345
15            Equal Employment Opportunity Commission          3.703682
16               Federal Energy Regulatory Commission          3.998637
17                           Federal Trade Commission          3.422405
18                    General Services Administration          3.980075
19       National Archives and Records Administration          3.566822
20               National Credit Union Administration          3.600241
21                        National Science Foundation          3.944159
22                      Nuclear Regulatory Commission          3.506526
23  OSD, Joint Staff, Defense Agencies, and Field ...          3.622898
24                     Office of Personnel Management          3.764687
25                      Small Business Administration          3.751928
26                     Social Security Administration          3.328412
27          U.S. Agency for International Development          3.529185
28          United States Department of the Air Force          3.603001
29               United States Department of the Army          3.532743
30               United States Department of the Navy          3.488168

*My Satisfaction

In [45]:
my_satisfaction = ['Q65', 'Q66', 'Q67', 'Q68','Q69', 'Q70']

In [46]:
survey_table[my_satisfaction] = survey_table[my_satisfaction].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [47]:
survey_table[my_satisfaction] = survey_table[my_satisfaction].apply(pd.to_numeric, errors='coerce')

In [48]:
survey_table['my_satisfaction_index'] = survey_table[my_satisfaction].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
my_satisfaction_index_groupby = survey_table.groupby('AGENCY')['my_satisfaction_index'].mean().reset_index()

In [50]:
my_satisfaction_index_groupby

                                               AGENCY  my_satisfaction_index
0                                  All Other Agencies               3.607296
1                           Department of Agriculture               3.381343
2                              Department of Commerce               3.556084
3                             Department of Education               3.626382
4                                Department of Energy               3.731459
5             Department of Health and Human Services               3.737435
6                     Department of Homeland Security               3.319281
7         Department of Housing and Urban Development               3.694386
8                               Department of Justice               3.377020
9                                 Department of Labor               3.624555
10                                Department of State               3.448808
11                       Department of Transportation               3.598480
12                         Department of the Interior               3.488467
13                         Department of the Treasury               3.546197
14                    Environmental Protection Agency               3.725844
15            Equal Employment Opportunity Commission               3.657603
16               Federal Energy Regulatory Commission               3.879868
17                           Federal Trade Commission               3.509436
18                    General Services Administration               3.937309
19       National Archives and Records Administration               3.596298
20               National Credit Union Administration               3.502292
21                        National Science Foundation               3.974350
22                      Nuclear Regulatory Commission               3.609145
23  OSD, Joint Staff, Defense Agencies, and Field ...               3.635691
24                     Office of Personnel Management               3.726260
25                      Small Business Administration               3.728499
26                     Social Security Administration               3.249994
27          U.S. Agency for International Development               3.502628
28          United States Department of the Air Force               3.556105
29               United States Department of the Army               3.543074
30               United States Department of the Navy               3.489686

*DEI

In [51]:
dei =['Q71', 'Q72', 'Q73', 'Q74','Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84']

In [52]:
survey_table[dei] = survey_table[dei].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [53]:
survey_table[dei] = survey_table[dei].apply(pd.to_numeric, errors='coerce')

In [54]:
survey_table['dei_index'] = survey_table[dei].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
dei_index_groupby = survey_table.groupby('AGENCY')['dei_index'].mean().reset_index()

In [56]:
dei_index_groupby

                                               AGENCY  dei_index
0                                  All Other Agencies   3.997454
1                           Department of Agriculture   3.859978
2                              Department of Commerce   3.984408
3                             Department of Education   4.012500
4                                Department of Energy   4.059161
5             Department of Health and Human Services   4.025969
6                     Department of Homeland Security   3.736395
7         Department of Housing and Urban Development   3.990922
8                               Department of Justice   3.765358
9                                 Department of Labor   3.985869
10                                Department of State   3.828897
11                       Department of Transportation   3.937091
12                         Department of the Interior   3.863848
13                         Department of the Treasury   3.957210
14                    Environmental Protection Agency   4.044077
15            Equal Employment Opportunity Commission   4.059967
16               Federal Energy Regulatory Commission   4.232628
17                           Federal Trade Commission   4.312560
18                    General Services Administration   4.199668
19       National Archives and Records Administration   3.935830
20               National Credit Union Administration   4.021308
21                        National Science Foundation   4.212397
22                      Nuclear Regulatory Commission   3.985975
23  OSD, Joint Staff, Defense Agencies, and Field ...   3.959966
24                     Office of Personnel Management   4.016065
25                      Small Business Administration   3.998727
26                     Social Security Administration   3.693486
27          U.S. Agency for International Development   3.914020
28          United States Department of the Air Force   3.890306
29               United States Department of the Army   3.872463
30               United States Department of the Navy   3.861689

*Employee Experience

In [57]:
employee_experience = ['Q85', 'Q86', 'Q87', 'Q88','Q89']

In [58]:
survey_table[employee_experience] = survey_table[employee_experience].replace('X', pd.NA)

C:\Users\AaronH\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [59]:
survey_table[employee_experience] = survey_table[employee_experience].apply(pd.to_numeric, errors='coerce')

In [60]:
survey_table['employee_experience_index'] = survey_table[employee_experience].mean(axis=1)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
employee_experience_index_groupby = survey_table.groupby('AGENCY')['employee_experience_index'].mean().reset_index()

In [62]:
employee_experience_index_groupby

,AGENCY,employee_experience_index
0,All Other Agencies,4.017651
1,Department of Agriculture,3.868381
2,Department of Commerce,3.934885
3,Department of Education,4.001667
4,Department of Energy,3.995171
5,Department of Health and Human Services,4.122165
6,Department of Homeland Security,3.791333
7,Department of Housing and Urban Development,3.996003
8,Department of Justice,3.869712
9,Department of Labor,3.998836
10,Department of State,3.911847
11,Department of Transportation,3.955737
12,Department of the Interior,3.969612
13,Department of the Treasury,3.854043
14,Environmental Protection Agency,4.126986
15,Equal Employment Opportunity Commission,4.242282
16,Federal Energy Regulatory Commission,4.082861
17,Federal Trade Commission,4.206209
18,General Services Administration,4.064095
19,National Archives and Records Administration,3.953115
20,National Credit Union Administration,3.885254
21,National Science Foundation,4.245902
22,Nuclear Regulatory Commission,3.899080
23,"OSD, Joint Staff, Defense Agencies, and Field ...",3.947426
24,Office of Personnel Management,3.970478
25,Small Business Administration,4.172867
26,Social Security Administration,3.715120
27,U.S. Agency for International Development,4.035614
28,United States Department of the Air Force,3.902038
29,United States Department of the Army,3.922322
30,United States Department of the Navy,3.867123

**

**MERGE ALL INDEX TABLES

In [272]:
index_tables = [my_work_experience_index_groupby, my_work_unit_index_groupby, my_organization_index_groupby, supervisor_index_groupby, leadership_index_groupby, my_satisfaction_index_groupby, dei_index_groupby, employee_experience_index_groupby, merged_df]

In [273]:
merged_indices = reduce(lambda left, right: pd.merge(left, right, on='AGENCY', how='inner'), index_tables)

In [274]:
merged_indices

,AGENCY,my_work_experience_index,my_work_unit_index,my_organization_index,supervisor_index,leadership_index,my_satisfaction_index,dei_index,employee_experience_index,population,SEP,quit,percentage_quit
0,Department of Agriculture,3.681917,3.778819,3.632230,4.157109,3.402016,3.381343,3.859978,3.868381,95248,SC,3868,0.040610
1,Department of Commerce,3.839047,3.864093,3.837819,4.284745,3.568648,3.556084,3.984408,3.934885,49020,SC,2500,0.051000
2,Department of Education,3.820196,3.979420,3.810235,4.345552,3.632828,3.626382,4.012500,4.001667,4252,SC,73,0.017168
3,Department of Energy,3.909516,4.014278,3.928674,4.332880,3.683964,3.731459,4.059161,3.995171,14801,SC,264,0.017837
4,Department of Health and Human Services,3.932961,4.001743,3.957244,4.301426,3.782065,3.737435,4.025969,4.122165,90337,SC,2587,0.028637
5,Department of Homeland Security,3.641606,3.683334,3.548823,4.057310,3.300381,3.319281,3.736395,3.791333,219092,SC,6587,0.030065
6,Department of Housing and Urban Development,3.861385,3.979773,3.756386,4.307146,3.670732,3.694386,3.990922,3.996003,8559,SC,124,0.014488
7,Department of Justice,3.683098,3.724516,3.567589,4.043215,3.305478,3.377020,3.765358,3.869712,116390,SC,2706,0.023249
8,Department of Labor,3.809498,3.926270,3.894003,4.278426,3.666771,3.624555,3.985869,3.998836,15108,SC,311,0.020585
9,Department of State,3.671787,3.806312,3.643069,4.073497,3.441223,3.448808,3.828897,3.911847,13814,SC,264,0.019111
10,Department of Transportation,3.796373,3.881084,3.812681,4.226878,3.521783,3.598480,3.937091,3.955737,55395,SC,730,0.013178
11,Department of the Interior,3.740007,3.822702,3.658190,4.139528,3.410887,3.488467,3.863848,3.969612,68271,SC,3004,0.044001
12,Department of the Treasury,3.786866,3.872182,3.748335,4.252293,3.580435,3.546197,3.957210,3.854043,104614,SC,5225,0.049946
13,Environmental Protection Agency,3.861499,3.968511,3.859417,4.304764,3.697345,3.725844,4.044077,4.126986,16015,SC,198,0.012363
14,Equal Employment Opportunity Commission,3.874276,3.970833,3.796425,4.324548,3.703682,3.657603,4.059967,4.242282,2301,SC,56,0.024337
15,Federal Energy Regulatory Commission,4.023978,4.123263,4.118369,4.503389,3.998637,3.879868,4.232628,4.082861,1569,SC,61,0.038878
16,Federal Trade Commission,3.964519,4.280365,3.880941,4.511111,3.422405,3.509436,4.312560,4.206209,1253,SC,64,0.051077
17,General Services Administration,4.035552,4.125477,4.079927,4.470225,3.980075,3.937309,4.199668,4.064095,12810,SC,196,0.015301
18,National Archives and Records Administration,3.849697,3.945823,3.784100,4.278540,3.566822,3.596298,3.935830,3.953115,2666,SC,84,0.031508
19,National Credit Union Administration,3.781683,3.927092,3.882324,4.338357,3.600241,3.502292,4.021308,3.885254,1225,SC,38,0.031020
20,National Science Foundation,4.073161,4.133403,4.127216,4.386301,3.944159,3.974350,4.212397,4.245902,1639,SC,34,0.020744
21,Nuclear Regulatory Commission,3.866567,3.942918,3.748938,4.313336,3.506526,3.609145,3.985975,3.899080,2873,SC,77,0.026801
22,"OSD, Joint Staff, Defense Agencies, and Field ...",3.849698,3.893626,3.863851,4.229405,3.622898,3.635691,3.959966,3.947426,155005,SC,5097,0.032883
23,Office of Personnel Management,3.865210,3.982903,3.870535,4.335112,3.764687,3.726260,4.016065,3.970478,2852,SC,48,0.016830
24,Small Business Administration,3.928324,3.989014,3.925514,4.281710,3.751928,3.728499,3.998727,4.172867,8091,SC,929,0.114819
25,Social Security Administration,3.551536,3.586911,3.583215,4.021935,3.328412,3.249994,3.693486,3.715120,61410,SC,1682,0.027390
26,U.S. Agency for International Development,3.685267,3.847802,3.737568,4.166331,3.529185,3.502628,3.914020,4.035614,4523,SC,115,0.025426
27,United States Department of the Air Force,3.820614,3.805549,3.783249,4.144635,3.603001,3.556105,3.890306,3.902038,166780,SC,7710,0.046229
28,United States Department of the Army,3.806893,3.816283,3.775462,4.112495,3.532743,3.543074,3.872463,3.922322,220479,SC,10065,0.045651
29,United States Department of the Navy,3.771338,3.801448,3.739491,4.113707,3.488168,3.489686,3.861689,3.867123,215475,SC,6954,0.032273

In [275]:
merged_indices['percentage_q'] = merged_indices['percentage_quit'] * 100

In [276]:
merged_indices

,AGENCY,my_work_experience_index,my_work_unit_index,my_organization_index,supervisor_index,leadership_index,my_satisfaction_index,dei_index,employee_experience_index,population,SEP,quit,percentage_quit,percentage_q
0,Department of Agriculture,3.681917,3.778819,3.632230,4.157109,3.402016,3.381343,3.859978,3.868381,95248,SC,3868,0.040610,4.060978
1,Department of Commerce,3.839047,3.864093,3.837819,4.284745,3.568648,3.556084,3.984408,3.934885,49020,SC,2500,0.051000,5.099959
2,Department of Education,3.820196,3.979420,3.810235,4.345552,3.632828,3.626382,4.012500,4.001667,4252,SC,73,0.017168,1.716839
3,Department of Energy,3.909516,4.014278,3.928674,4.332880,3.683964,3.731459,4.059161,3.995171,14801,SC,264,0.017837,1.783663
4,Department of Health and Human Services,3.932961,4.001743,3.957244,4.301426,3.782065,3.737435,4.025969,4.122165,90337,SC,2587,0.028637,2.863721
5,Department of Homeland Security,3.641606,3.683334,3.548823,4.057310,3.300381,3.319281,3.736395,3.791333,219092,SC,6587,0.030065,3.006500
6,Department of Housing and Urban Development,3.861385,3.979773,3.756386,4.307146,3.670732,3.694386,3.990922,3.996003,8559,SC,124,0.014488,1.448767
7,Department of Justice,3.683098,3.724516,3.567589,4.043215,3.305478,3.377020,3.765358,3.869712,116390,SC,2706,0.023249,2.324942
8,Department of Labor,3.809498,3.926270,3.894003,4.278426,3.666771,3.624555,3.985869,3.998836,15108,SC,311,0.020585,2.058512
9,Department of State,3.671787,3.806312,3.643069,4.073497,3.441223,3.448808,3.828897,3.911847,13814,SC,264,0.019111,1.911105
10,Department of Transportation,3.796373,3.881084,3.812681,4.226878,3.521783,3.598480,3.937091,3.955737,55395,SC,730,0.013178,1.317808
11,Department of the Interior,3.740007,3.822702,3.658190,4.139528,3.410887,3.488467,3.863848,3.969612,68271,SC,3004,0.044001,4.400111
12,Department of the Treasury,3.786866,3.872182,3.748335,4.252293,3.580435,3.546197,3.957210,3.854043,104614,SC,5225,0.049946,4.994551
13,Environmental Protection Agency,3.861499,3.968511,3.859417,4.304764,3.697345,3.725844,4.044077,4.126986,16015,SC,198,0.012363,1.236341
14,Equal Employment Opportunity Commission,3.874276,3.970833,3.796425,4.324548,3.703682,3.657603,4.059967,4.242282,2301,SC,56,0.024337,2.433724
15,Federal Energy Regulatory Commission,4.023978,4.123263,4.118369,4.503389,3.998637,3.879868,4.232628,4.082861,1569,SC,61,0.038878,3.887827
16,Federal Trade Commission,3.964519,4.280365,3.880941,4.511111,3.422405,3.509436,4.312560,4.206209,1253,SC,64,0.051077,5.107741
17,General Services Administration,4.035552,4.125477,4.079927,4.470225,3.980075,3.937309,4.199668,4.064095,12810,SC,196,0.015301,1.530055
18,National Archives and Records Administration,3.849697,3.945823,3.784100,4.278540,3.566822,3.596298,3.935830,3.953115,2666,SC,84,0.031508,3.150788
19,National Credit Union Administration,3.781683,3.927092,3.882324,4.338357,3.600241,3.502292,4.021308,3.885254,1225,SC,38,0.031020,3.102041
20,National Science Foundation,4.073161,4.133403,4.127216,4.386301,3.944159,3.974350,4.212397,4.245902,1639,SC,34,0.020744,2.074436
21,Nuclear Regulatory Commission,3.866567,3.942918,3.748938,4.313336,3.506526,3.609145,3.985975,3.899080,2873,SC,77,0.026801,2.680125
22,"OSD, Joint Staff, Defense Agencies, and Field ...",3.849698,3.893626,3.863851,4.229405,3.622898,3.635691,3.959966,3.947426,155005,SC,5097,0.032883,3.288281
23,Office of Personnel Management,3.865210,3.982903,3.870535,4.335112,3.764687,3.726260,4.016065,3.970478,2852,SC,48,0.016830,1.683029
24,Small Business Administration,3.928324,3.989014,3.925514,4.281710,3.751928,3.728499,3.998727,4.172867,8091,SC,929,0.114819,11.481893
25,Social Security Administration,3.551536,3.586911,3.583215,4.021935,3.328412,3.249994,3.693486,3.715120,61410,SC,1682,0.027390,2.738968
26,U.S. Agency for International Development,3.685267,3.847802,3.737568,4.166331,3.529185,3.502628,3.914020,4.035614,4523,SC,115,0.025426,2.542560
27,United States Department of the Air Force,3.820614,3.805549,3.783249,4.144635,3.603001,3.556105,3.890306,3.902038,166780,SC,7710,0.046229,4.622856
28,United States Department of the Army,3.806893,3.816283,3.775462,4.112495,3.532743,3.543074,3.872463,3.922322,220479,SC,10065,0.045651,4.565061
29,United States Department of the Navy,3.771338,3.801448,3.739491,4.113707,3.488168,3.489686,3.861689,3.867123,215475,SC,6954,0.032273,3.227289

In [280]:
merged_indices.to_clipboard()

In [277]:
corr_column = 'percentage_q'

In [278]:
correlations = merged_indices.drop(corr_column, axis=1).corrwith(merged_indices[corr_column])

In [279]:
correlations

my_work_experience_index     0.084766
my_work_unit_index           0.013452
my_organization_index        0.032493
supervisor_index            -0.022822
leadership_index            -0.045110
my_satisfaction_index       -0.085017
dei_index                    0.002460
employee_experience_index    0.111483
population                   0.146334
quit                         0.278599
percentage_quit              1.000000
dtype: float64

**IMPORT EMPLOYMENT DATABASE

In [12]:
file_path = r"C:\Users\AaronH\Documents\nss_data_analytics\Projects\nss-capstone\data\FACTDATA_SEP2023.TXT"

In [13]:
employment = pd.read_csv(file_path, header=None)

C:\Users\AaronH\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,4,6,7,8,12,13,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
employment

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
1,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,T,XXXX,2,50,F,1,202309,1,210000,20.3
2,AA00,11,I,15,NaN,I,0905,1,ES,ES-**,T,XXXX,2,50,F,1,202309,1,203000,30.7
3,AA00,11,F,04,14,E,0905,1,99,GS-14,Q,XXXX,8,30,F,1,202309,1,172075,14.1
4,AA00,11,E,15,NaN,E,0905,1,ES,ES-**,S,XXXX,8,50,F,1,202309,1,195000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258817,ZS00,11,C,4,NaN,B,0301,2,99,AD-00,F,XXXX,8,48,F,2,202309,1,67500,2.5
2258818,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,R,XXXX,8,48,I,2,202309,1,184115,0.7
2258819,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,E,XXXX,8,48,F,2,202309,1,50000,0.4
2258820,ZS00,11,C,13,NaN,A,0301,2,99,AD-00,E,XXXX,8,48,F,2,202309,1,56000,0.4
2258821,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,G,XXXX,8,48,F,2,202309,1,72500,0.3

In [68]:
employment_table = employment

In [69]:
employment_table.columns = employment_table.iloc[0]

In [70]:
employment_table = employment_table[1:]

In [71]:
employment_table

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
1,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,T,XXXX,2,50,F,1,202309,1,210000,20.3
2,AA00,11,I,15,NaN,I,0905,1,ES,ES-**,T,XXXX,2,50,F,1,202309,1,203000,30.7
3,AA00,11,F,04,14,E,0905,1,99,GS-14,Q,XXXX,8,30,F,1,202309,1,172075,14.1
4,AA00,11,E,15,NaN,E,0905,1,ES,ES-**,S,XXXX,8,50,F,1,202309,1,195000,12.0
5,AA00,11,G,15,14,E,0905,1,99,GS-14,O,XXXX,8,30,F,1,202309,1,150016,11.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258817,ZS00,11,C,4,NaN,B,0301,2,99,AD-00,F,XXXX,8,48,F,2,202309,1,67500,2.5
2258818,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,R,XXXX,8,48,I,2,202309,1,184115,0.7
2258819,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,E,XXXX,8,48,F,2,202309,1,50000,0.4
2258820,ZS00,11,C,13,NaN,A,0301,2,99,AD-00,E,XXXX,8,48,F,2,202309,1,56000,0.4
2258821,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,G,XXXX,8,48,F,2,202309,1,72500,0.3

In [72]:
employment_table['agency'] = employment_table['AGYSUB'].apply(lambda x: x[:2] if x != 'DNFE' else x)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
employment_table

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,...,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS,agency
1,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,...,XXXX,2,50,F,1,202309,1,210000,20.3,AA
2,AA00,11,I,15,NaN,I,0905,1,ES,ES-**,...,XXXX,2,50,F,1,202309,1,203000,30.7,AA
3,AA00,11,F,04,14,E,0905,1,99,GS-14,...,XXXX,8,30,F,1,202309,1,172075,14.1,AA
4,AA00,11,E,15,NaN,E,0905,1,ES,ES-**,...,XXXX,8,50,F,1,202309,1,195000,12.0,AA
5,AA00,11,G,15,14,E,0905,1,99,GS-14,...,XXXX,8,30,F,1,202309,1,150016,11.3,AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258817,ZS00,11,C,4,NaN,B,0301,2,99,AD-00,...,XXXX,8,48,F,2,202309,1,67500,2.5,ZS
2258818,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,XXXX,8,48,I,2,202309,1,184115,0.7,ZS
2258819,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,XXXX,8,48,F,2,202309,1,50000,0.4,ZS
2258820,ZS00,11,C,13,NaN,A,0301,2,99,AD-00,...,XXXX,8,48,F,2,202309,1,56000,0.4,ZS
2258821,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,XXXX,8,48,F,2,202309,1,72500,0.3,ZS

In [74]:
agency_map = {'AF': 'United States Department of the Air Force', 'AG': 'Department of Agriculture', 'AM':'U.S. Agency for International Development', 
             'AR':'United States Department of the Army','CM':'Department of Commerce','CU':'National Credit Union Administration','DD':'OSD, Joint Staff, Defense Agencies, and Field Activities',
             'DJ':'Department of Justice','DL':'Department of Labor','DN':'Department of Energy', 'DNFE':'Federal Energy Regulatory Commission', 'DR':'Federal Energy Regulatory Commission',
             'ED':'Department of Education','EE':'Equal Employment Opportunity Commission','EP':'Environmental Protection Agency','FT':'Federal Trade Commission',
             'GS':'General Services Administration','HE':'Department of Health and Human Services','HS':'Department of Homeland Security',
             'HU':'Department of Housing and Urban Development','IN':'Department of the Interior','NF':'National Science Foundation','NQ':'National Archives and Records Administration',
             'NU':'Nuclear Regulatory Commission','NV':'United States Department of the Navy','OM':'Office of Personnel Management','SB':'Small Business Administration',
             'ST':'Department of State','SZ':'Social Security Administration','TD':'Department of Transportation','TR':'Department of the Treasury','XX':'All Other Agencies'}

In [75]:
employment_table['AGENCY'] = employment_table['agency'].map(agency_map)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
employment_table

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,...,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS,agency,AGENCY
1,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,...,2,50,F,1,202309,1,210000,20.3,AA,NaN
2,AA00,11,I,15,NaN,I,0905,1,ES,ES-**,...,2,50,F,1,202309,1,203000,30.7,AA,NaN
3,AA00,11,F,04,14,E,0905,1,99,GS-14,...,8,30,F,1,202309,1,172075,14.1,AA,NaN
4,AA00,11,E,15,NaN,E,0905,1,ES,ES-**,...,8,50,F,1,202309,1,195000,12.0,AA,NaN
5,AA00,11,G,15,14,E,0905,1,99,GS-14,...,8,30,F,1,202309,1,150016,11.3,AA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258817,ZS00,11,C,4,NaN,B,0301,2,99,AD-00,...,8,48,F,2,202309,1,67500,2.5,ZS,NaN
2258818,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,8,48,I,2,202309,1,184115,0.7,ZS,NaN
2258819,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,8,48,F,2,202309,1,50000,0.4,ZS,NaN
2258820,ZS00,11,C,13,NaN,A,0301,2,99,AD-00,...,8,48,F,2,202309,1,56000,0.4,ZS,NaN
2258821,ZS00,11,D,4,NaN,A,0301,2,99,AD-00,...,8,48,F,2,202309,1,72500,0.3,ZS,NaN

In [77]:
employment_table['AGENCY'] = employment_table['AGENCY'].fillna('missing')

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
groupby = employment_table.groupby('AGENCY').size().reset_index()

In [79]:
groupby

                                               AGENCY       0
0                           Department of Agriculture   95248
1                              Department of Commerce   49020
2                             Department of Education    4252
3                                Department of Energy   14801
4             Department of Health and Human Services   90337
5                     Department of Homeland Security  219092
6         Department of Housing and Urban Development    8559
7                               Department of Justice  116390
8                                 Department of Labor   15108
9                                 Department of State   13814
10                       Department of Transportation   55395
11                         Department of the Interior   68271
12                         Department of the Treasury  104614
13                    Environmental Protection Agency   16015
14            Equal Employment Opportunity Commission    2301
15               Federal Energy Regulatory Commission    1569
16                           Federal Trade Commission    1253
17                    General Services Administration   12810
18       National Archives and Records Administration    2666
19               National Credit Union Administration    1225
20                        National Science Foundation    1639
21                      Nuclear Regulatory Commission    2873
22  OSD, Joint Staff, Defense Agencies, and Field ...  155005
23                     Office of Personnel Management    2852
24                      Small Business Administration    8091
25                     Social Security Administration   61410
26          U.S. Agency for International Development    4523
27          United States Department of the Air Force  166780
28               United States Department of the Army  220479
29               United States Department of the Navy  215475
30                                            missing  526954

In [119]:
employment_table['LOS'] = employment_table['LOS'].apply(pd.to_numeric, errors='coerce')

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [120]:
groupby_employment = employment_table.groupby('AGENCY')['LOS'].mean().reset_index()

In [121]:
groupby_employment

                                               AGENCY        LOS
0                           Department of Agriculture  12.398677
1                              Department of Commerce  12.925910
2                             Department of Education  15.125000
3                                Department of Energy  14.389676
4             Department of Health and Human Services  12.588123
5                     Department of Homeland Security  11.845764
6         Department of Housing and Urban Development  15.201601
7                               Department of Justice  12.966167
8                                 Department of Labor  14.805083
9                                 Department of State  14.102099
10                       Department of Transportation  14.720968
11                         Department of the Interior  13.410921
12                         Department of the Treasury  13.297378
13                    Environmental Protection Agency  15.777221
14            Equal Employment Opportunity Commission  14.920817
15               Federal Energy Regulatory Commission  13.310134
16                           Federal Trade Commission  12.418276
17                    General Services Administration  15.816823
18       National Archives and Records Administration  14.176594
19               National Credit Union Administration  15.742531
20                        National Science Foundation  13.389994
21                      Nuclear Regulatory Commission  17.388235
22  OSD, Joint Staff, Defense Agencies, and Field ...  11.678474
23                     Office of Personnel Management  14.460484
24                      Small Business Administration   7.449178
25                     Social Security Administration  14.744524
26          U.S. Agency for International Development  11.632633
27          United States Department of the Air Force  11.134229
28               United States Department of the Army  11.814913
29               United States Department of the Navy  11.587178
30                                            missing   9.908886

In [281]:
groupby_employment.to_clipboard()

**IMPORT SEPARATIONS DATABASE

In [128]:
file_path = r"C:\Users\AaronH\Documents\nss_data_analytics\Projects\federal_employee_job_satisfaction\data\SEPDATA_FY2020-2024.TXT"

In [129]:
separations = pd.read_csv(file_path, header=None)

C:\Users\AaronH\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4,5,8,9,13,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [131]:
separations

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,PPGRD,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS
1,AA00,SJ,202006,J,18,14,E,11,0905,1,GS-14,L,XXXX,40,F,2,1,125360,12.3
2,AA00,SC,202208,F,15,15,E,51,0905,1,GS-15,Q,XXXX,30,F,1,1,176300,12.9
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,ES-**,S,XXXX,50,F,1,1,199300,12.8
4,AA00,SA,202008,D,14,14,C,11,0905,1,GS-14,L,XXXX,30,F,1,1,121316,04.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,AD-00,Q,XXXX,48,F,2,1,170800,14.5
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,AD-00,K,XXXX,38,F,1,1,112930,8.1
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,AD-00,M,XXXX,38,F,1,1,133465,8
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,AD-00,F,XXXX,38,F,1,1,64682,2.8
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,AD-00,G,XXXX,38,F,1,1,71442,1.6

In [134]:
separations_table = separations

In [135]:
separations_table.columns = separations_table.iloc[0]

In [137]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,PPGRD,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS
0,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,PPGRD,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS
1,AA00,SJ,202006,J,18,14,E,11,0905,1,GS-14,L,XXXX,40,F,2,1,125360,12.3
2,AA00,SC,202208,F,15,15,E,51,0905,1,GS-15,Q,XXXX,30,F,1,1,176300,12.9
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,ES-**,S,XXXX,50,F,1,1,199300,12.8
4,AA00,SA,202008,D,14,14,C,11,0905,1,GS-14,L,XXXX,30,F,1,1,121316,04.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,AD-00,Q,XXXX,48,F,2,1,170800,14.5
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,AD-00,K,XXXX,38,F,1,1,112930,8.1
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,AD-00,M,XXXX,38,F,1,1,133465,8
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,AD-00,F,XXXX,38,F,1,1,64682,2.8
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,AD-00,G,XXXX,38,F,1,1,71442,1.6

In [138]:
separations_table = separations_table[1:]

In [139]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,PPGRD,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS
1,AA00,SJ,202006,J,18,14,E,11,0905,1,GS-14,L,XXXX,40,F,2,1,125360,12.3
2,AA00,SC,202208,F,15,15,E,51,0905,1,GS-15,Q,XXXX,30,F,1,1,176300,12.9
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,ES-**,S,XXXX,50,F,1,1,199300,12.8
4,AA00,SA,202008,D,14,14,C,11,0905,1,GS-14,L,XXXX,30,F,1,1,121316,04.9
5,AA00,SA,202003,D,15,14,D,11,0905,1,GS-14,N,XXXX,40,F,2,1,149621,05.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,AD-00,Q,XXXX,48,F,2,1,170800,14.5
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,AD-00,K,XXXX,38,F,1,1,112930,8.1
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,AD-00,M,XXXX,38,F,1,1,133465,8
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,AD-00,F,XXXX,38,F,1,1,64682,2.8
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,AD-00,G,XXXX,38,F,1,1,71442,1.6

In [140]:
separations_table['DATE'] = pd.to_datetime(separations_table['EFDATE'], format='%Y%m')

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [141]:
separations_table['DATE'] = separations_table['DATE'].dt.to_period('M')

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [142]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,PPGRD,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS,DATE
1,AA00,SJ,202006,J,18,14,E,11,0905,1,GS-14,L,XXXX,40,F,2,1,125360,12.3,2020-06
2,AA00,SC,202208,F,15,15,E,51,0905,1,GS-15,Q,XXXX,30,F,1,1,176300,12.9,2022-08
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,ES-**,S,XXXX,50,F,1,1,199300,12.8,2022-07
4,AA00,SA,202008,D,14,14,C,11,0905,1,GS-14,L,XXXX,30,F,1,1,121316,04.9,2020-08
5,AA00,SA,202003,D,15,14,D,11,0905,1,GS-14,N,XXXX,40,F,2,1,149621,05.3,2020-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,AD-00,Q,XXXX,48,F,2,1,170800,14.5,2021-11
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,AD-00,K,XXXX,38,F,1,1,112930,8.1,2021-07
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,AD-00,M,XXXX,38,F,1,1,133465,8,2021-03
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,AD-00,F,XXXX,38,F,1,1,64682,2.8,2021-07
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,AD-00,G,XXXX,38,F,1,1,71442,1.6,2020-04

In [145]:
separations_table['DATE_YEAR'] = separations_table['DATE'].dt.year

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [146]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,...,SALLVL,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS,DATE,DATE_YEAR
1,AA00,SJ,202006,J,18,14,E,11,0905,1,...,L,XXXX,40,F,2,1,125360,12.3,2020-06,2020
2,AA00,SC,202208,F,15,15,E,51,0905,1,...,Q,XXXX,30,F,1,1,176300,12.9,2022-08,2022
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,...,S,XXXX,50,F,1,1,199300,12.8,2022-07,2022
4,AA00,SA,202008,D,14,14,C,11,0905,1,...,L,XXXX,30,F,1,1,121316,04.9,2020-08,2020
5,AA00,SA,202003,D,15,14,D,11,0905,1,...,N,XXXX,40,F,2,1,149621,05.3,2020-03,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,...,Q,XXXX,48,F,2,1,170800,14.5,2021-11,2021
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,...,K,XXXX,38,F,1,1,112930,8.1,2021-07,2021
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,...,M,XXXX,38,F,1,1,133465,8,2021-03,2021
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,...,F,XXXX,38,F,1,1,64682,2.8,2021-07,2021
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,...,G,XXXX,38,F,1,1,71442,1.6,2020-04,2020

In [149]:
separations_table['agency'] = separations_table['AGYSUB'].apply(lambda x: x[:2] if x != 'DNFE' else x)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [150]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,...,STEMOCC,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS,DATE,DATE_YEAR,agency
1,AA00,SJ,202006,J,18,14,E,11,0905,1,...,XXXX,40,F,2,1,125360,12.3,2020-06,2020,AA
2,AA00,SC,202208,F,15,15,E,51,0905,1,...,XXXX,30,F,1,1,176300,12.9,2022-08,2022,AA
3,AA00,SC,202207,H,15,NaN,E,11,0301,2,...,XXXX,50,F,1,1,199300,12.8,2022-07,2022,AA
4,AA00,SA,202008,D,14,14,C,11,0905,1,...,XXXX,30,F,1,1,121316,04.9,2020-08,2020,AA
5,AA00,SA,202003,D,15,14,D,11,0905,1,...,XXXX,40,F,2,1,149621,05.3,2020-03,2020,AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,NaN,E,11,0301,2,...,XXXX,48,F,2,1,170800,14.5,2021-11,2021,ZU
717109,ZU00,SJ,202107,E,17,NaN,D,11,0301,2,...,XXXX,38,F,1,1,112930,8.1,2021-07,2021,ZU
717110,ZU00,SA,202103,K,13,NaN,D,11,0301,2,...,XXXX,38,F,1,1,133465,8,2021-03,2021,ZU
717111,ZU00,SJ,202107,C,13,NaN,B,11,0301,2,...,XXXX,38,F,1,1,64682,2.8,2021-07,2021,ZU
717112,ZU00,SA,202004,E,17,NaN,B,11,0301,2,...,XXXX,38,F,1,1,71442,1.6,2020-04,2020,ZU

In [151]:
agency_map = {'AF': 'United States Department of the Air Force', 'AG': 'Department of Agriculture', 'AM':'U.S. Agency for International Development', 
             'AR':'United States Department of the Army','CM':'Department of Commerce','CU':'National Credit Union Administration','DD':'OSD, Joint Staff, Defense Agencies, and Field Activities',
             'DJ':'Department of Justice','DL':'Department of Labor','DN':'Department of Energy', 'DNFE':'Federal Energy Regulatory Commission', 'DR':'Federal Energy Regulatory Commission',
             'ED':'Department of Education','EE':'Equal Employment Opportunity Commission','EP':'Environmental Protection Agency','FT':'Federal Trade Commission',
             'GS':'General Services Administration','HE':'Department of Health and Human Services','HS':'Department of Homeland Security',
             'HU':'Department of Housing and Urban Development','IN':'Department of the Interior','NF':'National Science Foundation','NQ':'National Archives and Records Administration',
             'NU':'Nuclear Regulatory Commission','NV':'United States Department of the Navy','OM':'Office of Personnel Management','SB':'Small Business Administration',
             'ST':'Department of State','SZ':'Social Security Administration','TD':'Department of Transportation','TR':'Department of the Treasury','XX':'All Other Agencies'}

In [152]:
separations_table['AGENCY'] = separations_table['agency'].map(agency_map)

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [153]:
separations_table['AGENCY'] = separations_table['AGENCY'].fillna('missing')

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [212]:
separations_table_2022 = separations_table[separations_table["DATE_YEAR"] == 2022]

In [215]:
groupby_separations_2022 = separations_table_2022.groupby(['AGENCY', 'SEP']).size().reset_index()

In [216]:
groupby_separations_2022

                        AGENCY SEP     0
0    Department of Agriculture  SA   747
1    Department of Agriculture  SB    50
2    Department of Agriculture  SC  3868
3    Department of Agriculture  SD  1558
4    Department of Agriculture  SF    49
..                         ...  ..   ...
238                    missing  SG    28
239                    missing  SH     2
240                    missing  SJ  4564
241                    missing  SK   552
242                    missing  SL    13

[243 rows x 3 columns]

In [228]:
groupby_separations_SC = groupby_separations_2022[groupby_separations_2022['SEP']=='SC']

In [234]:
groupby_separations_SC = groupby_separations_SC.rename(columns={0: 'quit'})

In [222]:
groupby_employment_size = employment_table.groupby('AGENCY').size().reset_index(name = 'population')

In [223]:
groupby_employment_size

                                               AGENCY  population
0                           Department of Agriculture       95248
1                              Department of Commerce       49020
2                             Department of Education        4252
3                                Department of Energy       14801
4             Department of Health and Human Services       90337
5                     Department of Homeland Security      219092
6         Department of Housing and Urban Development        8559
7                               Department of Justice      116390
8                                 Department of Labor       15108
9                                 Department of State       13814
10                       Department of Transportation       55395
11                         Department of the Interior       68271
12                         Department of the Treasury      104614
13                    Environmental Protection Agency       16015
14            Equal Employment Opportunity Commission        2301
15               Federal Energy Regulatory Commission        1569
16                           Federal Trade Commission        1253
17                    General Services Administration       12810
18       National Archives and Records Administration        2666
19               National Credit Union Administration        1225
20                        National Science Foundation        1639
21                      Nuclear Regulatory Commission        2873
22  OSD, Joint Staff, Defense Agencies, and Field ...      155005
23                     Office of Personnel Management        2852
24                      Small Business Administration        8091
25                     Social Security Administration       61410
26          U.S. Agency for International Development        4523
27          United States Department of the Air Force      166780
28               United States Department of the Army      220479
29               United States Department of the Navy      215475
30                                            missing      526954

In [235]:
groupby_separations_SC

                                                AGENCY SEP   quit
2                            Department of Agriculture  SC   3868
10                              Department of Commerce  SC   2500
20                             Department of Education  SC     73
26                                Department of Energy  SC    264
35             Department of Health and Human Services  SC   2587
45                     Department of Homeland Security  SC   6587
54         Department of Housing and Urban Development  SC    124
63                               Department of Justice  SC   2706
71                                 Department of Labor  SC    311
78                                 Department of State  SC    264
86                        Department of Transportation  SC    730
95                          Department of the Interior  SC   3004
104                         Department of the Treasury  SC   5225
113                    Environmental Protection Agency  SC    198
120            Equal Employment Opportunity Commission  SC     56
124               Federal Energy Regulatory Commission  SC     61
129                           Federal Trade Commission  SC     64
134                    General Services Administration  SC    196
142       National Archives and Records Administration  SC     84
147               National Credit Union Administration  SC     38
153                        National Science Foundation  SC     34
158                      Nuclear Regulatory Commission  SC     77
167  OSD, Joint Staff, Defense Agencies, and Field ...  SC   5097
175                     Office of Personnel Management  SC     48
180                      Small Business Administration  SC    929
188                     Social Security Administration  SC   1682
196          U.S. Agency for International Development  SC    115
204          United States Department of the Air Force  SC   7710
214               United States Department of the Army  SC  10065
224               United States Department of the Navy  SC   6954
234                                            missing  SC  18885

In [236]:
merged_df = pd.merge(groupby_employment_size, groupby_separations_SC, on='AGENCY', how='inner')

In [238]:
merged_df['percentage_quit'] = merged_df['quit'] / merged_df['population']

In [239]:
merged_df

,AGENCY,population,SEP,quit,percentage_quit
0,Department of Agriculture,95248,SC,3868,0.040610
1,Department of Commerce,49020,SC,2500,0.051000
2,Department of Education,4252,SC,73,0.017168
3,Department of Energy,14801,SC,264,0.017837
4,Department of Health and Human Services,90337,SC,2587,0.028637
5,Department of Homeland Security,219092,SC,6587,0.030065
6,Department of Housing and Urban Development,8559,SC,124,0.014488
7,Department of Justice,116390,SC,2706,0.023249
8,Department of Labor,15108,SC,311,0.020585
9,Department of State,13814,SC,264,0.019111
10,Department of Transportation,55395,SC,730,0.013178
11,Department of the Interior,68271,SC,3004,0.044001
12,Department of the Treasury,104614,SC,5225,0.049946
13,Environmental Protection Agency,16015,SC,198,0.012363
14,Equal Employment Opportunity Commission,2301,SC,56,0.024337
15,Federal Energy Regulatory Commission,1569,SC,61,0.038878
16,Federal Trade Commission,1253,SC,64,0.051077
17,General Services Administration,12810,SC,196,0.015301
18,National Archives and Records Administration,2666,SC,84,0.031508
19,National Credit Union Administration,1225,SC,38,0.031020
20,National Science Foundation,1639,SC,34,0.020744
21,Nuclear Regulatory Commission,2873,SC,77,0.026801
22,"OSD, Joint Staff, Defense Agencies, and Field ...",155005,SC,5097,0.032883
23,Office of Personnel Management,2852,SC,48,0.016830
24,Small Business Administration,8091,SC,929,0.114819
25,Social Security Administration,61410,SC,1682,0.027390
26,U.S. Agency for International Development,4523,SC,115,0.025426
27,United States Department of the Air Force,166780,SC,7710,0.046229
28,United States Department of the Army,220479,SC,10065,0.045651
29,United States Department of the Navy,215475,SC,6954,0.032273
30,missing,526954,SC,18885,0.035838

In [52]:
pd.set_option('display.max_rows', 500)

In [44]:
sep = separations_table.groupby('AGYSUB').size()

In [45]:
sep

AGYSUB
AA00         9
AB00        39
AF**         3
AF02        18
AF03        79
AF06       133
AF07       237
AF09       388
AF0B       809
AF0D      1274
AF0J      6763
AF0M      3875
AF0R      2153
AF0V       604
AF12         8
AF13       877
AF16         9
AF17       271
AF1B        43
AF1C      4468
AF1L      3153
AF1M     16059
AF1Q        25
AF1S       512
AF1Y       823
AF20         9
AF2A        18
AF2E        53
AF2F        13
AF2H         6
AF2I       237
AF2K         7
AF2L       117
AF2M        23
AF2R         7
AF2S        35
AF2T        20
AF2Z       119
AF34        10
AF38        36
AF3C       132
AF3D       350
AF3Q       455
AF3T       276
AF3V        90
AF40       392
AF4C       116
AF4D       265
AF4F        27
AF4G      1300
AF4S        73
AF4V       234
AF4W       681
AF5D        23
AF6F       383
AFGS      1771
AFNG     17030
AFZG       228
AG01        97
AG02      1436
AG03      3536
AG07      1250
AG08        71
AG10       315
AG11     34210
AG13        14
AG14        70
AG15        10
AG16      2452
AG18       138
AG20       170
AG22       215
AG23       136
AG30       366
AG32         3
AG34      2828
AG37      2398
AG38        20
AG42        19
AG90       283
AG99       427
AGAO        15
AGCR        33
AGDA        90
AGES         3
AGFA      1329
AGHL        18
AGIT       360
AGNA        13
AH01        53
AH02       132
AH03        21
AM**       284
AM00       711
AN00        28
AP00         6
AR**         3
AR2A      1591
AR3A       140
AR5A        74
ARA1        58
ARAE      1085
ARAF      3381
ARAN       103
ARAP      1637
ARAS      1088
ARAT       886
ARBA        86
ARCB       276
ARCE     11541
ARCH      1243
ARCS       507
ARE1       340
ARE2       164
ARE3        20
AREN       163
ARFB        20
ARFC       751
ARGB       512
ARHC       388
ARHR      3094
ARJ1        78
ARJA      1084
ARMA       297
ARMC     13727
ARMW       116
ARNG     17139
ARP1       562
ARSA       600
ARSB       363
ARSC       423
ARSE       599
ARSJ       254
ARSO        60
ARSP       500
ARTA       935
ARTC      2967
ARTW       132
ARX2       136
ARX6      1648
ARX7      3225
ARX8      1311
ARX9        63
ARXA      8475
ARXB       268
ARXC      1643
ARXD      1328
ARXF       376
ARXG        18
ARXK        24
ARXP       186
ARXQ      1464
ARXT       426
ARXX        42
AU00        40
AW00        20
BD00        64
BF00        26
BG00       297
BH00        10
BK00         2
BO00       318
BT00        14
BW00         4
CC00        20
CE00        42
CF00         1
CM51       417
CM52        83
CM53       109
CM54      2368
CM55       343
CM56      1759
CM57       799
CM59        29
CM61       161
CM62        25
CM63     22405
CM64        59
CM67       101
CT00       178
CU00       253
DB00         3
DD01      1115
DD02       309
DD04      1908
DD06       315
DD07      6945
DD08        37
DD10      1316
DD12      1166
DD13        72
DD15       237
DD16      9152
DD21       837
DD23        10
DD25        87
DD26       467
DD27       687
DD29        47
DD34      7921
DD35      3549
DD48       562
DD53        95
DD60       661
DD61       493
DD63      2932
DD65       245
DD68         3
DD69       182
DD71        68
DD74        80
DD80       161
DD81       228
DD82       220
DD83      2768
DD84         9
DG00         3
DJ01      1973
DJ02      7545
DJ03      9098
DJ06      1786
DJ07       120
DJ08       961
DJ09      3342
DJ10       173
DJ11       189
DJ12       566
DJ14         7
DJ15       929
DLAA       136
DLAM       327
DLBL        37
DLCA        25
DLCF        23
DLEH        19
DLET       227
DLIG        94
DLLS       635
DLMS       440
DLOF       100
DLOL        42
DLOW       348
DLPA        16
DLPE        20
DLPW       226
DLSH       485
DLSL       173
DLVE        52
DLWB        17
DLWH       381
DN00      3584
DNFE       399
DQ00         5
EB00       173
EC00       152
EDEA        45
EDEC       127
EDED        36
EDEE        14
EDEF        77
EDEG        38
EDEH        37
EDEI        30
EDEJ        13
EDEK       150
EDEN       301
EDEO        60
EDEP        47
EDER        31
EDES        78
EDET         8
EDEV        23
EDEZ         8
EE00       636
EO00        12
EP00      3552
EQ00        14
EW00        25
FC00       316
FD00      1770
FI00         2
FJ00        22
FK00         2
FL00       113
FM00        42
FQ01       140
FQ02        53
FRFT       379
FT00       366
FW00        50
GB00       174
GC00         5
GE00         1
GG00        13
GJ00       160
GQ00        46
GS01        19
GS02        20
GS03      1224
GS04         7
GS10        16
GS11        83
GS12        40
GS13        23
GS14        83
GS15       114
GS20         9
GS22        23
GS26        46
GS28       100
GS30       869
GS31        29
GS32        30
GS33         5
GU00         1
GW00        80
GX00        30
GY00         6
GZ00         9
HB01        13
HB02         3
HD00        31
HE10      1801
HE11       139
HE12        79
HE13       406
HE32       182
HE33        79
HE34       528
HE35        44
HE36      3323
HE37      6098
HE38      4279
HE39      2409
HE50       371
HE70      1150
HE90       287
HFHA       201
HFHI        26
HP00        15
HSAA      1554
HSAB      3286
HSAC      2389
HSAD      1752
HSAE       225
HSBB      3842
HSBC     20340
HSBD      8447
HSBE       389
HSCA       613
HSCB      7833
HSDA        52
HSFA        94
HT00         3
HU01        30
HU02        86
HU03       102
HU04       163
HU05       124
HU06       119
HU07        46
HU08        54
HU09        99
HU10        34
HUAA        35
HUBB       138
HUCC        90
HUDD        77
HUEE        39
HUFF        42
HUGG       136
HUJJ        12
HUKA         3
HUKK        24
HULL         9
HUMM       245
HUNN        36
HUPP       164
HUQQ        84
HURR        39
HUTT        34
HUUU        13
HUWW        19
HUXX         1
HW00        13
IB00       284
IF00        24
IG00        20
IN**        57
IN01       945
IN05      7446
IN06      1683
IN07      1720
IN08      2663
IN10     21952
IN15      3103
IN21       137
IN22       103
IN24        73
IN26       169
IN27       110
IN28       242
IN29        26
IP00         2
JL03       110
KS00       378
KY00         3
LF00        80
LP00       341
MA00         3
MC00        44
MI00       109
NF00       578
NK00         8
NL00       295
NM00        14
NN10       401
NN21       239
NN22       282
NN23       289
NN24       118
NN51       527
NN62       462
NN64        30
NN72       513
NN76       326
NP00         9
NQ00       675
NS00        74
NU00       804
NV11       626
NV12      1465
NV14       909
NV15       282
NV18     12208
NV19      6939
NV22      1544
NV23      1908
NV24      7309
NV25      4657
NV27      6174
NV30       360
NV33         5
NV39      2287
NV41       337
NV52      4442
NV60      8408
NV70      4550
NV72       145
NV74       346
NV76      1293
OM00       830
OS00        14
PU00       513
QQ00        31
RE00        10
RF00       102
RH00       154
RO00        31
RR00       273
RS00        32
SB00     11854
SE00       906
SK00       220
SM01       207
SM02        14
SM03       888
SM04        25
SS00        75
ST00      3112
SZ00     14256
TB00       104
TC00       112
TD01       524
TD03      7769
TD04       614
TD05       181
TD06        48
TD09       149
TD10       130
TD12       102
TD13       213
TD16       140
TD17       245
TN00       170
TR36        62
TR40        86
TR91       738
TR93     27168
TR95        45
TRAD       384
TRAF       124
TRAI       397
TRAJ       824
TRFD       580
TRTG       163
TS00        33
TW00        31
UJ00         4
UT00         2
VA**        10
VAAA       161
VAAD       275
VAAE       169
VAAF       279
VAAI        17
VABA         8
VABC        35
VABD         1
VABE        19
VABF        83
VABG         9
VABH         6
VABJ         1
VABK         5
VADA        36
VADC        10
VADD       229
VADG       282
VAEA        80
VAEB      1790
VAGA         4
VAGB        35
VAGC         5
VAGD         4
VAGE         1
VAHA        26
VAHC         4
VAHG        28
VAJA         9
VAJB         4
VAJC        10
VAKA         7
VAKB        13
VALA      5511
VAPA       872
VATA    112326
VD00        23
WK00        12
WX00         1
ZL00        13
ZP00        24
ZS00        29
ZU00         7
dtype: int64

In [50]:
separations_table['AGENCY'] = separations_table['AGYSUB'].str[:2]

C:\Users\AaronH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
separations_table

,AGYSUB,SEP,EFDATE,AGELVL,EDLVL,GSEGRD,LOSLVL,LOC,OCC,PATCO,...,TOA,WORKSCH,WORKSTAT,COUNT,SALARY,LOS,DATE,YEAR,MONTH,AGENCY
1,AA00,SJ,202006,J,18,14,E,11,0905,1,...,40,F,2,1,125360,12.3,2020-06,2020,6,AA
2,AA00,SC,202208,F,15,15,E,51,0905,1,...,30,F,1,1,176300,12.9,2022-08,2022,8,AA
3,AA00,SC,202207,H,15,,E,11,0301,2,...,50,F,1,1,199300,12.8,2022-07,2022,7,AA
4,AA00,SA,202008,D,14,14,C,11,0905,1,...,30,F,1,1,121316,04.9,2020-08,2020,8,AA
5,AA00,SA,202003,D,15,14,D,11,0905,1,...,40,F,2,1,149621,05.3,2020-03,2020,3,AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717108,ZU00,SA,202111,K,17,,E,11,0301,2,...,48,F,2,1,170800,14.5,2021-11,2021,11,ZU
717109,ZU00,SJ,202107,E,17,,D,11,0301,2,...,38,F,1,1,112930,08.1,2021-07,2021,7,ZU
717110,ZU00,SA,202103,K,13,,D,11,0301,2,...,38,F,1,1,133465,08.0,2021-03,2021,3,ZU
717111,ZU00,SJ,202107,C,13,,B,11,0301,2,...,38,F,1,1,064682,02.8,2021-07,2021,7,ZU
717112,ZU00,SA,202004,E,17,,B,11,0301,2,...,38,F,1,1,071442,01.6,2020-04,2020,4,ZU

In [54]:
agency = separations_table.groupby('AGENCY')

In [55]:
agency

AGENCY
AA         9
AB        39
AF     67120
AG     52325
AH       206
AM       995
AN        28
AP         6
AR     89620
AU        40
AW        20
BD        64
BF        26
BG       297
BH        10
BK         2
BO       318
BT        14
BW         4
CC        20
CE        42
CF         1
CM     28658
CT       178
CU       253
DB         3
DD     44884
DG         3
DJ     26689
DL      3823
DN      3983
DQ         5
EB       173
EC       152
ED      1123
EE       636
EO        12
EP      3552
EQ        14
EW        25
FC       316
FD      1770
FI         2
FJ        22
FK         2
FL       113
FM        42
FQ       193
FR       379
FT       366
FW        50
GB       174
GC         5
GE         1
GG        13
GJ       160
GQ        46
GS      2740
GU         1
GW        80
GX        30
GY         6
GZ         9
HB        16
HD        31
HE     21175
HF       227
HP        15
HS     50816
HT         3
HU      2097
HW        13
IB       284
IF        24
IG        20
IN     40429
IP         2
JL       110
KS       378
KY         3
LF        80
LP       341
MA         3
MC        44
MI       109
NF       578
NK         8
NL       295
NM        14
NN      3187
NP         9
NQ       675
NS        74
NU       804
NV     66194
OM       830
OS        14
PU       513
QQ        31
RE        10
RF       102
RH       154
RO        31
RR       273
RS        32
SB     11854
SE       906
SK       220
SM      1134
SS        75
ST      3112
SZ     14256
TB       104
TC       112
TD     10115
TN       170
TR     30571
TS        33
TW        31
UJ         4
UT         2
VA    122364
VD        23
WK        12
WX         1
ZL        13
ZP        24
ZS        29
ZU         7
dtype: int64

In [56]:
agency_sep_type = separations_table.groupby('AGENCY')['SEP'].sum()

In [57]:
agency_sep_type

AGENCY
AA                                   SJSCSCSASASASCSASC
AB    SJSASDSDSASCSDSCSDSDSDSDSDSDSDSDSDSASASASASDSD...
AF    SDSASASDSDSDSCSDSASDSDSDSDSDSDSASFSDSCSCSCSDSC...
AG    SASDSDSCSCSCSCSASASCSASDSCSASCSCSCSASCSCSASASC...
AH    SCSJSDSDSASDSASASCSDSDSDSDSASDSDSDSDSCSCSCSJSA...
AM    SDSASASCSCSCSASCSCSCSCSCSCSKSGSDSCSDSCSCSDSDSD...
AN    SASDSDSDSCSJSKSCSASJSCSASHSASDSASASCSASASASASC...
AP                                         SCSJSDSCSCSC
AR    SCSCSASASDSASDSASASDSDSASDSDSCSASDSDSASDSASASD...
AU    SASDSASCSDSCSDSDSDSCSCSDSJSCSCSCSCSASCSCSASCSA...
AW             SJSDSJSJSJSJSJSCSJSKSJSJSJSJSJSJSJSJSJSJ
BD    SASKSDSASASDSCSDSASDSDSDSDSASDSDSDSASDSCSDSASD...
BF    SASASASDSDSKSDSASASCSASDSDSCSASDSCSDSASASCSASJ...
BG    SASDSDSASJSASCSDSASASDSDSDSJSDSKSKSKSDSDSDSDSA...
BH                                 SCSJSCSJSJSJSJSJSJSJ
BK                                                 SDSC
BO    SCSDSASCSASCSASCSDSDSCSASCSASASDSASDSCSDSCSDSA...
BT                         SASDSASDSDSDSJSJSASJSJSASJSJ
BW                                             SCSDSCSC
CC             SASCSDSASCSCSASCSCSCSJSJSCSCSASCSASASCSJ
CE    SDSASJSJSCSCSJSCSJSCSCSCSASASJSCSCSCSCSJSCSCSC...
CF                                                   SD
CM    SDSASDSASASCSASCSCSASASDSASASCSASCSASASDSASDSD...
CT    SDSDSASASASCSCSDSCSCSDSDSDSCSDSDSCSASASASKSCSD...
CU    SDSASASASASCSCSASASDSDSDSDSDSFSDSDSCSDSDSDSDSD...
DB                                               SJSJSJ
DD    SASDSDSCSDSASDSDSASASCSASCSCSASJSASJSCSDSCSDSC...
DG                                               SASJSC
DJ    SDSDSDSASDSDSASASDSDSCSDSCSDSDSDSCSDSDSDSDSASA...
DL    SDSASCSDSDSDSDSDSDSDSDSDSDSDSASDSDSDSDSDSDSDSD...
DN    SDSDSFSDSCSDSDSDSDSDSKSDSKSDSDSDSDSDSGSDSDSDSD...
DQ                                           SDSASDSDSA
EB    SDSASASDSCSJSDSASDSKSKSDSASDSCSJSASDSASDSDSDSK...
EC    SASASASASASCSDSASASBSCSASASASDSCSDSASASDSCSDSA...
ED    SASDSASJSDSDSDSCSDSDSASASDSASCSCSCSASASCSCSCSC...
EE    SDSDSKSDSDSDSDSKSDSDSDSDSASASASASFSASCSASASASF...
EO                             SDSDSDSCSDSJSJSJSJSCSASJ
EP    SASDSJSASDSDSDSCSJSDSDSJSJSDSDSDSDSDSCSDSDSASD...
EQ                         SCSDSASCSASASCSASCSCSASCSCSC
EW    SDSCSASASASASASASASASJSCSASCSASASASCSCSCSASCSC...
FC    SDSESDSDSDSDSCSDSKSCSASCSASDSCSCSDSDSCSDSDSKSD...
FD    SDSDSDSDSCSDSJSCSCSDSCSASCSCSCSCSESGSDSDSDSDSA...
FI                                                 SASK
FJ         SCSASASDSASDSASDSCSASDSCSDSDSCSCSASCSCSCSCSA
FK                                                 SDSJ
FL    SASASDSDSDSCSDSDSDSDSASDSDSDSASCSDSCSDSDSASDSA...
FM    SDSDSDSDSDSDSDSCSDSDSDSDSDSDSASDSDSDSKSDSKSDSK...
FQ    SDSCSCSASASASCSDSDSGSASDSDSDSDSGSASDSDSGSGSGSA...
FR    SDSDSDSDSCSASDSDSDSASDSCSDSDSASDSDSDSASDSDSASA...
FT    SDSDSCSDSCSCSCSCSASASCSDSDSDSASDSDSDSDSDSDSDSC...
FW    SASESASASCSASASASCSASASDSDSDSDSASASCSASCSASASC...
GB    SASASDSDSASDSDSASCSJSDSCSDSDSASDSDSASCSCSASCSA...
GC                                           SDSDSASCSJ
GE                                                   SJ
GG                           SCSASASDSASASDSASCSASASASA
GJ    SCSDSCSJSGSJSASGSJSJSJSDSDSDSDSJSDSDSDSCSJSJSC...
GQ    SASJSCSCSCSCSJSDSASCSCSASASCSCSCSCSCSCSCSCSCSC...
GS    SASCSJSCSCSASCSCSCSGSCSCSASCSCSCSJSCSCSASDSDSD...
GU                                                   SC
GW    SASCSASASASDSDSDSDSDSDSGSASDSDSDSDSDSDSDSDSDSD...
GX    SJSJSJSJSJSJSJSJSJSJSDSJSJSJSJSJSJSJSJSJSJSJSJ...
GY                                         SDSDSDSJSJSA
GZ                                   SJSJSCSJSJSCSJSJSJ
HB                     SASDSDSJSDSASASJSASJSFSCSDSCSHSA
HD    SDSDSDSDSASASDSDSKSCSCSDSASDSDSDSDSDSDSDSCSDSA...
HE    SDSCSASDSCSCSCSKSDSASCSCSKSDSDSCSDSCSASDSCSDSC...
HF    SDSDSASDSDSASCSDSESDSDSDSDSDSDSASDSDSJSDSESDSC...
HP                       SDSJSCSDSCSDSCSCSCSCSASCSCSASA
HS    SDSASDSDSCSASDSDSDSDSDSASDSDSASASCSASDSCSDSASE...
HT                                               SCSCSC
HU    SDSDSDSDSDSDSDSASDSDSDSDSDSKSDSDSASASASASASCSA...
HW                           SASCSCSJSDSCSCSCSCSJSCSJSC
IB    SASASASASASASDSKSDSDSESDSDSDSDSDSDSDSDSDSDSDSD...
IF     SDSDSKSCSASCSCSASASKSASCSASJSASJSCSJSASASJSASCSC
IG             SJSASCSDSCSJSASDSASCSCSCSCSCSASCSASCSCSC
IN    SJSDSASDSCSDSDSDSCSDSDSKSDSDSDSDSDSDSDSDSCSDSD...
IP                                                 SCSA
JL    SDSDSDSDSDSESDSCSASDSDSDSCSDSCSESDSCSDSDSCSASC...
KS    SASHSDSDSDSESHSGSDSESGSASASCSCSHSCSCSHSASASASA...
KY                                               SCSDSC
LF    SDSKSDSCSASCSASDSASDSKSDSDSKSASCSCSASDSDSDSDSC...
LP    SDSDSDSKSDSDSDSDSDSDSDSDSDSCSASASKSDSASKSDSDSD...
MA                                               SCSJSC
MC    SGSASASDSCSESDSDSDSDSCSDSESJSDSASDSDSDSDSDSDSA...
MI    SCSDSDSCSASASASDSJSCSASCSDSASCSDSDSCSASDSASASC...
NF    SKSDSDSDSASASJSASFSASDSDSDSDSASASDSDSDSDSDSDSC...
NK                                     SJSASJSJSJSJSJSJ
NL    SDSCSDSDSDSDSDSDSDSDSDSKSDSDSCSCSCSASCSCSCSASC...
NM                         SDSASASDSDSDSDSDSDSCSASDSCSC
NN    SDSDSCSDSDSDSDSESCSASDSCSDSDSASCSASCSCSDSDSDSD...
NP                                   SJSASDSDSASASASJSJ
NQ    SDSASDSDSDSASDSDSCSASDSJSCSCSCSFSDSCSCSASCSCSA...
NS    SCSASCSCSCSASCSCSCSCSCSDSDSASJSCSASCSCSASCSCSC...
NU    SCSJSCSDSDSDSDSDSJSDSDSDSDSDSDSASASASGSDSASKSA...
NV    SDSDSDSCSJSASCSDSDSCSASASASASASCSCSASASASASJSD...
OM    SASASDSDSDSDSASBSBSBSASDSCSASDSDSASCSASASASASA...
OS                         SDSDSDSCSASCSCSCSCSCSCSCSCSC
PU    SASDSASASDSCSASCSDSJSDSCSASASASASCSASASASJSJSA...
QQ    SESCSESCSDSDSESDSDSKSCSCSASCSCSCSCSCSCSCSCSCSC...
RE                                 SDSGSESDSDSDSDSDSESD
RF    SASASASASJSCSASASCSDSDSASDSDSDSASDSASASDSASASA...
RH    SDSDSCSCSASDSDSDSASDSASASDSCSDSDSDSDSDSDSDSDSA...
RO    SDSJSCSCSCSCSDSDSCSCSJSJSCSCSCSJSCSJSJSJSCSCSJ...
RR    SDSCSDSCSFSDSASDSASDSASDSDSDSCSDSDSDSDSDSDSDSA...
RS    SCSKSDSDSASDSASJSDSDSASCSASJSASCSASASJSCSCSCSC...
SB    SCSASDSJSCSDSDSJSDSJSJSJSDSCSCSJSASASJSJSASCSJ...
SE    SDSDSDSDSDSDSDSDSDSASDSDSCSDSDSCSCSCSCSCSCSCSC...
SK    SDSCSASDSASASASDSDSDSCSDSDSDSDSASDSDSDSASASASK...
SM    SASDSCSCSASCSDSASDSDSDSDSDSDSDSDSASDSDSDSDSDSD...
SS    SFSASASDSCSDSCSCSCSDSDSDSCSDSCSDSBSASASASASCSC...
ST    SJSCSASDSDSJSDSDSDSDSCSDSASDSDSASDSASCSJSJSCSC...
SZ    SDSDSDSDSESDSDSDSDSDSESDSDSDSDSDSDSDSDSDSDSDSD...
TB    SDSCSCSDSDSDSCSJSJSASDSDSDSDSDSCSDSDSDSDSKSDSD...
TC    SDSCSFSDSCSJSCSDSKSDSKSDSDSDSCSDSDSDSDSDSDSDSA...
TD    SFSCSDSCSASCSASASASASASASASCSASCSFSDSDSASDSDSA...
TN    SCSCSCSCSCSASJSASCSCSCSASCSCSDSCSCSDSCSDSDSCSD...
TR    SASASJSASDSDSASASASJSASASJSASASDSDSCSCSDSCSDSA...
TS    SCSASCSDSCSCSJSCSCSJSCSASCSCSCSJSASASJSASCSJSC...
TW    SASDSDSDSDSASDSDSDSDSJSKSDSDSASCSDSASDSASASASD...
UJ                                             SDSJSJSA
UT                                                 SDSD
VA    SASCSDSDSCSCSCSCSCSCSASDSASASASASASASDSDSDSDSD...
VD       SASASASCSCSASJSASCSASCSCSASASCSASASCSJSCSASJSA
WK                             SCSCSJSCSCSJSJSCSCSASCSC
WX                                                   SC
ZL                           SJSDSDSDSJSJSJSJSCSCSCSCSC
ZP     SDSHSGSJSCSCSASCSCSJSJSJSCSJSKSASASJSCSASJSCSCSJ
ZS    SCSJSJSJSASASJSCSCSCSCSASASJSASJSCSJSJSCSJSCSA...
ZU                                       SDSDSASJSASJSA
Name: SEP, dtype: object